appnope==0.1.2
certifi==2020.12.5
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1610127727012/work
SQLAlchemy==1.4.10
waitress @ file:///tmp/build/80754af9/waitress_1593443114440/work
Werkzeug==1.0.1
